---
layout: archive
title: "Join US"
permalink: /join_us/
author_profile: Ture
---


<!DOCTYPE html>
<html>
  <head>
    <title>PhD Position</title>
  </head>
  <body>
    <h1>PhD Position</h1>
    <p><strong>Type:</strong> Professor</p>
    <p><strong>Venue:</strong> Nankai University, College of Environmental Science and Engineering</p>
    <p><strong>Date:</strong> 2023-09-21</p>
    <p><strong>Location:</strong> Tianjin, China</p>
    <p>We are currently recruiting PhD students for a position in our research group. If you are interested in pursuing a PhD in environmental science and engineering, please apply by the deadline.</p>
    <p>To apply, please submit your CV and a cover letter to <a href="mailto:zhicao@nankai.edu.cn">recruitment@nankai.edu.cn</a>.</p>
  </body>
</html>

{% include base_path %}


{% comment %}
{% for post in site.team %}
  {% include archive-single-team.html %}
{% endfor %}
{% endcomment %}
